body{
    background-color: #000000;
}
h1{
    font-family: Dpix_8pt;
    color: #FFFFFF;
    font-size: 40pt;
}
#nepo {
    position: fixed; /* Фиксированное положение */
    right: 0;
    bottom: 0;
}
/* Do u */
.ggscary{
    margin: auto;
    margin-top: 14%;
    width: 39%;
    height: 60%;
}
.ggplay{
    margin: auto;
    font-family: Dpix_8pt;
    color: #FFFFFF;
    font-size: 25pt;
    text-align: center;

}
.ggno{
    float: right;
    font-family: Dpix_8pt;
    color: #FFFFFF;
    font-size: 25pt;
    text-decoration: underline;
    margin-right: 9px;
}
.ggyes{
    margin-left: 9px;
    float: left;
    font-family: Dpix_8pt;
    color: #FFFFFF;
    font-size: 25pt;
    text-decoration: underline;
}
/* Classic mode*/
.classicmode{
    margin: auto;
    margin-top: 5%;
    width: 80%;
    height: 80%;
    font-family: Dpix_8pt;
    color: #FFFFFF;
    font-size: 25pt;
}
.classicmodetune{
    width: 80%;
    height: 40%;
    margin: auto;
}
.classicmodecomposer{
    width: 80%;
    height: 40%;

    margin: auto;
}
.classicmodetunetext{
    text-align: center;
}
.classicmodetunetext2{
    text-align: center;
    margin-top: 13%;
}
.classicmodelinks{
    text-decoration: underline;
}
.classicmodetuned{
    text-align: center;}
.classicmodeguesstablepos{
    margin-top: 4%;
    text-align: center;
}
.classicmodeguesstablepos2{
    margin-top: 4%;
    text-align: center;
}
.guesstable{
    width: 40px;
    height: 60px;
    background-color: rgba(127,127,127,0.3);
    border: none;
    outline:none;
    text-align: center;
    font-family: Dpix_8pt;
    color: #FFFFFF;
    font-size: 30pt;
    text-transform: uppercase;
}
.zeroguesstable{
    width: 40px;
    height: 60px;
    background-color:#000000;
    border: none;
    outline:none;
    text-align: center;
    font-family: Dpix_8pt;
    color: #FFFFFF;
    font-size: 30pt;
    text-transform: uppercase;
}
/* /*Picture Mode*/
.picturemode {
    margin: auto;
    width: 80%;
    height: 80%;
    font-family: Dpix_8pt;
    color: #FFFFFF;
    font-size: 18pt;
}
.picturemodzag{
    margin-top: 4%;
    font-size: 18pt;
    text-align: center;}
.picturemodeguesstableposs{
    margin-top: 4%;
    text-align: center;
}
.framediv{
    margin-top: 2%;
    text-align: center;
}
.framy{
    width: 600px;
    height: 332px;
    margin: auto;
    border: none;
}
.frameworklinks{
    text-align: center;
    font-size: 14pt;
}
/*Center text*/
.texmaintzag{
    font-family: Dpix_8pt;
    color: #FFFFFF;
    font-size: 30pt;
    text-align: center;
}
.textzag{
    font-family: Dpix_8pt;
    color: #FFFFFF;
    font-size: 25pt;
    text-align: center;
    text-decoration: none;
}
/*Index stuff*/
table {
     /* Выравниваем таблицу по центру окна  */
    border: 0; /* Рамка вокруг таблицы */
    border-collapse: separate; /* Способ отображения границы */
    /* Ширина таблицы */
    border-spacing: 0;
    padding: 0;
    margin: auto;
    margin-top: 9%;
}
td {
    padding: 1px; /* Поля вокруг текста */
    border: 0; /* Граница вокруг ячеек */
}
a {
    text-decoration: none;

}
a:hover{
    text-decoration: none; /* Добавляем подчеркивание при наведении курсора на ссылку */
}
a:link{
    color: rgb(255, 255, 255); /*Цвет ссылки*/
}
a:visited{
    color: #ffffff; /*Цвет посещенной ссылки*/
}
a:active{
    color: #ffffff; /*Цвет ссылки при нажатии на нее*/
}
