@font-face {
    font-family: pixelFont;
    src: url(fonts/pixelFont.ttf);
}

body{
    background-color: #000000;
}


h1{
    font-family: pixelFont;
    color: #FFFFFF;
    font-size: 40pt;
}
.f20 {
    font-size: 20pt;
    margin-top: 2%;
}
#m8 {
    margin-top: 8%;
}
.reggtable{
    width: 250px;
    height: 40px;
    background-color: rgba(127,127,127,0.3);
    border: none;
    outline:none;
    text-align: center;
    font-family: pixelFont;
    color: #FFFFFF;
    font-size: 20pt;
    text-transform: uppercase;
}
.singinsingupmainframe{
    margin: auto;
    font-family: pixelFont;
    color: #FFFFFF;
    font-size: 25pt;
    text-align: center;
    margin-top: 10%;
    width: 39%;
    height: 60%;
}
#nepo {
    position: fixed; /* Фиксированное положение */
    right: 0;
    bottom: 0;
}
/* Do u */
.ggscary{
    margin: auto;
    margin-top: 14%;
    width: 39%;
    height: 60%;
}
.ggplay{
    margin: auto;
    font-family: pixelFont;
    color: #FFFFFF;
    font-size: 25pt;
    text-align: center;

}
.ggno{
    float: right;
    font-family: pixelFont;
    color: #FFFFFF;
    font-size: 25pt;
    text-decoration: underline;
    margin-right: 9px;
}
.ggyes{
    margin-left: 9px;
    float: left;
    font-family: pixelFont;
    color: #FFFFFF;
    font-size: 25pt;
    text-decoration: underline;
}
/* Classic mode*/
.classicmodebitgallery{
    float: right;
    width: 10%;
}
.bitoktext{
    text-align: center;
    font-size: 20pt;
    font-family: pixelFont;
    color: #ffdf01;
}
.bitoktextlinks{
    font-size: 15pt;
    font-family: pixelFont;
    color: #ffdf01;
}
.bitokpos{
    margin-top: 3%;
}
.classicmode{
    margin: auto;
    margin-top: 5%;
    width: 100%;
    height: 80%;
    font-family: pixelFont;
    color: #FFFFFF;
    font-size: 25pt;
}
.classicmodetune{
    width: 80%;
    height: 40%;
    margin: auto;
}
.classicmodecomposer{
    width: 80%;
    height: 40%;

    margin: auto;
}
.classicmodetunetext{
    text-align: center;
}
.classicmodetunetext2{
    text-align: center;
    margin-top: 10%;
}
.classicmodelinks{
    text-decoration: underline;
}
.classicmodetuned{
    text-align: center;}
.classicmodeguesstablepos{
    margin-top: 3%;
    text-align: center;
}
.classicmodeguesstablepos2{
    margin-top: 3%;
    text-align: center;
}
.guesstable{
    width: 40px;
    height: 60px;
    background-color: rgba(127,127,127,0.3);
    border: none;
    outline:none;
    text-align: center;
    font-family: pixelFont;
    color: #FFFFFF;
    font-size: 30pt;
    text-transform: uppercase;
}
.zeroguesstable{
    width: 40px;
    height: 60px;
    background-color:#000000;
    border: none;
    outline:none;
    text-align: center;
    font-family: pixelFont;
    color: #FFFFFF;
    font-size: 30pt;
    text-transform: uppercase;
}
/* /*Picture Mode*/
.picturemode {
    margin: auto;
    width: 100%;
    height: 80%;
    font-family: pixelFont;
    color: #FFFFFF;
    font-size: 18pt;
}
.picturemodzag{
    margin-top: 4%;
    font-size: 18pt;
    text-align: center;}
.picturemodeguesstableposs{
    margin-top: 4%;
    text-align: center;
}
.framediv{
    margin-top: 2%;
    text-align: center;
}
.framy{
    width: 600px;
    height: 332px;
    margin: auto;
    border: none;
}
.framy2{
    width: 600px;
    height: 400px;
    margin: auto;
    border: none;
}
.frameworklinks{
    text-align: center;
    font-size: 14pt;
}
/*Universal Stuff*/
#classicmodegreylinks{
    text-align: center;
    font-size: 14pt;
    color: #808080;
    text-decoration: underline;
}
#classicmodegreyjoke{
    text-align: center;
    font-size: 14pt;
    color: #A9A9A9;
}
.ptextcude {
    text-align: center;
    font-size: 14pt;
    line-height: 0.5;
}
#QuestionFonts{
    font-size: 15pt;
    text-align: center;
}
#QuestionQuate{
    text-align: center;
    font-size: 18pt;
    color: #808080;
}
/*Center text*/
.texmaintzag{
    font-family: pixelFont;
    color: #FFFFFF;
    font-size: 30pt;
    text-align: center;
}
.textzag{
    font-family: pixelFont;
    color: #FFFFFF;
    font-size: 25pt;
    text-align: center;
    text-decoration: none;
}
/*Omski stuff */
.omsktable{
    width: 240px;
    height: 60px;
    background-color: rgba(127,127,127,0.3);
    border: none;
    outline:none;
    text-align: center;
    font-family: pixelFont;
    color: #FFFFFF;
    font-size: 30pt;
    text-transform: uppercase;
}
/*Index stuff*/
table {
    /* Выравниваем таблицу по центру окна  */
    border: 0; /* Рамка вокруг таблицы */
    border-collapse: separate; /* Способ отображения границы */
    /* Ширина таблицы */
    border-spacing: 0;
    padding: 0;
    margin: 4% auto auto;
}

.result{
    color: #EAEAEA;
    font-size: 30pt;
    font-family: pixelFont;
}

.resultA{
    color: aqua;
    font-size: 30pt;
    font-family: pixelFont;
}

td {
    padding: 1px; /* Поля вокруг текста */
    border: 0; /* Граница вокруг ячеек */
}
a {
    text-decoration: none;

}
a:hover{
    text-decoration: none; /* Добавляем подчеркивание при наведении курсора на ссылку */
}
a:link{
    color: rgb(255, 255, 255); /*Цвет ссылки*/
}
a:visited{
    color: #ffffff; /*Цвет посещенной ссылки*/
}
a:active{
    color: #ffffff; /*Цвет ссылки при нажатии на нее*/
}
